
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ChatPage_wrapper{

min-width: 100vw;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background: #fff;

}

.ChatPage_header{

background: linear-gradient(
    to bottom,
    #1b1b1b 0%,
    #131212 45%,
    #1b1b1b 55%,
    #1b1b1b 100%
  );
  
  box-shadow: 
    inset 0 2px 6px rgba(255,255,255,0.06),
    inset 0 -2px 4px rgba(0,0,0,0.7);
  min-width: 100vw;
    min-height: 14vh;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    gap:20px;

}

.Chat_bot_logo{

min-width: 40px;
min-height: 40px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
margin-left: 20px;

}

.ChatPage_header h2{
    font-weight: 500;
}

.Chat_bot_message_container{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 100px 20px 100px 20px; /* space for header + input */
    background: #e2dddd;
    overflow-y: auto;
    width: 100%;
    gap:10px;
}


.Chat_bot_input_wrapper {
  width: 60%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 30px;
  padding: .8rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
              rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  position: fixed;
  bottom: 20px;         
  left: 50%;           
  transform: translateX(-50%);
}

.Chat_bot_input_wrapper input{
    font-family: "Inter",sans-serif;
    border: none;
    min-width: 85%;
}

.Chat_bot_input_wrapper input:focus{
    outline: none;
}

.Chat_bot_input_wrapper button{
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.message_box{
    background: #ffffff;
    padding: .6rem .9rem;
    border-radius: 18px;
    max-width: 60%;
    word-wrap: break-word;
    display: flex;
    justify-self: flex-start;
    margin-left: 20px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 10px;
}

.chatbot_container{
    background: #000000;
    color: white;
    padding: .6rem .9rem;
    border-radius: 20px;
    max-width: 60%;
    word-wrap: break-word;
    display: flex;
    justify-self: flex-end;
    margin-right: 30px;
}

.chat_bot_display_none{
    display: none;
}

.chatbot_img_container{
    display: flex;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.profile_pic{
    min-width: 10%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
        background: #e2dddd;

}

@media (max-width:768px){

    .Chat_bot_message_container{
        margin-top: 30px;
    }

    .Chat_bot_input_wrapper input{
        min-width: 70%;
        max-width:80%;
    }

    .Chat_bot_input_wrapper{
        min-width: 75%;
    }
<<<<<<< HEAD
}


.ChatPage_wrapper{

min-width: 100vw;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background: #fff;

}

.ChatPage_header{

background: linear-gradient(
    to bottom,
    #1b1b1b 0%,
    #131212 45%,
    #1b1b1b 55%,
    #1b1b1b 100%
  );
  
  box-shadow: 
    inset 0 2px 6px rgba(255,255,255,0.06),
    inset 0 -2px 4px rgba(0,0,0,0.7);
  min-width: 100vw;
    min-height: 14vh;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    gap:20px;

}

.Chat_bot_logo{

min-width: 40px;
min-height: 40px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
margin-left: 20px;

}

.ChatPage_header h2{
    font-weight: 500;
}

.Chat_bot_message_container{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 100px 20px 100px 20px; /* space for header + input */
    background: #e2dddd;
    overflow-y: auto;
    width: 100%;
    gap:10px;
}


.Chat_bot_input_wrapper {
  width: 60%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 30px;
  padding: .8rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
              rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  position: fixed;
  bottom: 20px;         
  left: 50%;           
  transform: translateX(-50%);
}

.Chat_bot_input_wrapper input{
    font-family: "Inter",sans-serif;
    border: none;
    min-width: 85%;
    max-width: 100%;
}

.Chat_bot_input_wrapper input:focus{
    outline: none;
}

.Chat_bot_input_wrapper button{
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.message_box{
    background: #ffffff;
    padding: .6rem .9rem;
    border-radius: 18px;
    max-width: 60%;
    word-wrap: break-word;
    display: flex;
    justify-self: flex-start;
    margin-left: 20px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 10px;
}

.chatbot_container{
    background: #000000;
    color: white;
    padding: .6rem .9rem;
    border-radius: 20px;
    max-width: 60%;
    word-wrap: break-word;
    display: flex;
    justify-self: flex-end;
    margin-right: 30px;
}

.chat_bot_display_none{
    display: none;
}

.chatbot_img_container{
    display: flex;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.profile_pic{
    min-width: 10%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
        background: #e2dddd;

}

@media (max-width:768px){

    .Chat_bot_message_container{
        margin-top: 30px;
    }

    .Chat_bot_input_wrapper input{
        min-width: 90%;
    }

    .Chat_bot_input_wrapper{
        min-width: 100%;
    }
}
=======
}
>>>>>>> c01bb19 (update)
