
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ChatPage_wrapper{

min-width: 100vw;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background: #fff;
position:relative;
background: #e2dddd;
overflow-y: hidden;
overflow-x:hidden;
scrollbar-width: thin;


}


.ChatPage_header{

background: #000000;
  
 
  min-width: 100vw;
    min-height: 14vh;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    gap:20px;

}

.header_right{
    display: flex;
    min-height: 100%;
    align-items: center;
    gap:10px;
    flex: 1;
}

.btn_wrapper_head{
    flex: 1;
    min-height: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.btn_wrapper_head button{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    border: none;
    cursor: pointer;
}

.btn_wrapper_head{
    margin-right: 20px;
}

.Chat_bot_logo{

min-width: 40px;
min-height: 40px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
margin-left: 20px;

}

.ChatPage_header h2{
    font-weight: 500;
    width:auto;
}

.Chat_bot_message_container{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 14vh;     /* space for fixed header */
    margin-bottom: 100px; /* space for fixed input */
    padding: 20px;
    background: #e2dddd;
    overflow-y: scroll;
    width: 100%;
    gap:10px;
}


.Chat_bot_input_wrapper {
  width: 60%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 30px;
  padding: .8rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
              rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  position: fixed;
  bottom: 20px;         
  left: 50%;           
  transform: translateX(-50%);
}

.Chat_bot_input_wrapper input{
    font-family: "Inter",sans-serif;
    border: none;
    min-width: 85%;
}

.Chat_bot_input_wrapper input:focus{
    outline: none;
}

.Chat_bot_input_wrapper button{
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.message_box{
    background: #ffffff;
    padding: .6rem .9rem;
    border-radius: 18px;
    max-width: 60%;
    word-wrap: break-word;
    display: flex;
    justify-self: flex-start;
    margin-left: 20px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 10px;
}

.chatbot_container{
    background: #000000;
    color: white;
    padding: .6rem .9rem;
    border-radius: 20px;
    max-width: 60%;
    word-wrap: break-word;
    display: flex;
    justify-self: flex-end;
    margin-right: 20px;
}

.chat_bot_display_none{
    display: none;
}

.chatbot_img_container{
    display: flex;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.profile_pic{
    min-width: 10%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
        background: #e2dddd;

}

@media (max-width:768px){

    .Chat_bot_message_container{
        margin-top: 90px;
    }

    .Chat_bot_input_wrapper input{
        min-width: 70%;
        max-width:80%;
        font-size: 14px;
    }

    .Chat_bot_input_wrapper{
        min-width: 75%;
    }

    .Chat_bot_input_wrapper button{
        margin-right: 20px;
    }

}


@media (max-width:480px){

.Chat_bot_input_wrapper input{
    font-size: 14px;
}

.Chat_bot_input_wrapper{
    padding: .4rem;
    width:86%;
}

.Chat_bot_input_wrapper button{
    margin-right:10px;
}

    
.ChatPage_header h2{
    font-size: 14px;
}

        .Chat_bot_message_container{
        margin-top: 120px;
    }

    .chatbot_container{
align-self:flex-end;
        justify-self:flex-end;  
    }

    .message_box{
width:auto;
        align-self:flex-start;
        justify-self:flex-start;
    }
}


