
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&family=Instrument+Sans:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    color: #000;
}

.up_btn{
    font-family:'Inter',sans-serif;
 background:#000;
     color:#fff;
    width:100px;
    height:35px;
    border-radius: 30px;
    border: none;
    font-weight:500;
    font-size: 14px;
    cursor: pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:4px;
}

.up_btn:hover{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background: radial-gradient(circle 80px at 80% -50%, #777777, #0f1111);
}

.Navbar_wrapper{

 display: flex;
 flex-direction: column;
 min-width: 100%;
 min-height: 9vh;
 max-height: 16vh;
 background: #faf6f6;
 align-items: center;
 justify-content: center;
 gap: 20px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
position: fixed;
z-index: 9999;
}

.Navbar_details_section{

 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 min-width: 100%;
 max-height: 45%;

}

.User_details{

 min-width: auto;
 min-height: 100%;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 margin-left: 40px;
 gap: 10px;

}

.User_details img{

min-width:35px;
min-height: 35px;
border-radius: 50%;
border: 1px solid #ddd;

}

.User_settings{

width:auto;
    min-height: 100%;
 display: flex;
 align-items: center;
 justify-content: flex-end;
 gap: 8px;
 padding-right: .6em;


}

.Icon_btn{
    border:none;
    background:#fff;
    cursor: pointer;
}

.Icon_btn1{
    border:none;
    background:#fff;
    cursor: pointer;
    display:none;
}

.Support_btn{

min-width: 30px;
min-height: 40px;
background: #fff;
border:none;
font-family: "Inter",sans-serif;
border-radius: 12px;
gap:15px;
justify-content: flex-start;
align-items: flex-start;
font-weight: 500;
cursor: pointer;
margin-right: 20px;
display: none;

}

.Logout_btn{

 display: flex;
 min-width: 40px;
 min-height: 40px;
 border-radius: 50%;
 align-items: center;
 justify-content: center;
 background: #fff;
 cursor: pointer;
 border: 1px solid #ddd;

}

.Setting_btn{

 display: flex;
 min-width: 40px;
 min-height: 40px;
 border-radius: 50%;
 align-items: center;
 justify-content: center;
 background: #fff;
 cursor: pointer;
 border: 1px solid #ccc;

}

.Setting_btn img{

min-width:40px;
min-height: 40px;
border-radius: 50%;

}

.Navbar_links_section{

 display: none;
 min-width: 100%;
 max-height: 48%;
 align-items: center;
 justify-content: flex-start;
 min-height: 40%;
 margin-top: -8px;

}

.links{
    display: flex;
    width:auto;   
    margin-right:10px;
    place-self:center;
    justify-self: center;
    align-self: center;
}

.links ul{
    display: flex;
    gap: 34px;
}

.links ul li a{
    font-weight: 450;
    cursor: pointer;
    color:#444343;
}

.Navbar_links_section ul{
    display: flex;
    flex-direction: row;  /* This makes li items align horizontally */
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 0;  /* Remove default ul padding */
    margin: 0;   /* Remove default ul margin */
    margin-left: 40px;
    align-items: flex-start;
    justify-content: flex-start;
}
.Navbar_details_section ul li{
    gap: 25px;
    list-style: none;
    display: flex;
}

.Navbar_details_section ul,li,a{
    text-decoration: none;
    color: #5c5959;
    display: flex;
    font-size: 14px;
    font-weight: 400;
}

.Navbar_details_section ul,li,a:hover{

color: black;

}

.Side_bar_full_screen{
    min-width: 30%;
    max-width: 42%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    z-index: 10000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position:fixed;
    justify-self: flex-end;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;    background: #fff;
    overflow: hidden;
    transition: .4s ease;
    overflow-y:auto;
}

.Side_bar_head{
    min-width: 100%;
    min-height: auto;
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#fff;
}

.Side_bar_head h3{
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 480;
    font-family: "Syne",sans-serif;
}

.Side_bar_head button{
    margin-right: 10px;
    background: transparent;
    font-family: "Inter",sans-serif;
    border: none;
    cursor: pointer;
    color:#000;
}

.Side_bar_main_content{
    min-width: 86%;
    min-height:90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background: #fff;
    padding: .6rem;
}

.button_wrapper{
    min-width: 100%;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.upgrade_btn{
    font-family: "Inter",sans-serif;
    width: 90%;
    min-height: 45px;
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #000;
    border: none;
    border-radius: 12px;
    font-weight: 450;
    cursor: pointer;
}

.pricing_btn{
    font-family: "Inter",sans-serif;
    width: 90%;
    min-height: 45px;
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background: #ffffff;
    border: none;
    border-radius: 12px;
    font-weight: 450;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
}

.User_details_side_bar{
    min-width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 26px;
}

.user_detail_row{
    min-width: 90%;
    min-height: 30px;
    display: flex;
    align-items: center;
   justify-content: space-between;
}

.user_detail_row span{
    margin-left: 30px;
    font-size: 16px;
    font-weight: 420;
    color: #5c5959;
}

.user_detail_row h4{
    margin-right: 10px;
    font-weight: 400;
    color: #000;
}

.user_detail_row button{

    display:flex;
    min-width:40px;
    min-height:40px;
    border-radius:50%;
    border:1px solid #ddd;
    background:#fff;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.links_wrapper{
    width:80%;
    place-self: center;
    margin-top: 30px;
    height: auto;
    display:none;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    justify-content: center;
    margin-bottom: 30px;
}

.link_btn{
    min-width:auto;
    padding: 1rem;
    height: 40px;
    background:#fff;
    font-family: "Inter",sans-serif;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width:unset;
    min-width: 100px;
    cursor: pointer;
box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.user_usage{
    width: 90%;
    height: 35%;
box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    display: flex;
    place-self: center;
    margin-top: 50px;
    position: sticky;
    padding-bottom: 0;
    border-radius:14px;
    flex-direction: column;
    align-items: flex-start;
}

.user_usage button{
    width: 90%;
    display: flex;
    place-self: center;
    padding: .8rem;
    border-radius: 8px;
    border: none;
    font-family: "Inter",sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.Icon_btn2{
    border:none;
    background:#fff;
    cursor: pointer;
    display:flex;
}

@media(max-width:768px){

    .Icon_btn1{
    border:none;
    background:#fff;
    cursor: pointer;
    display:flex;
}

.Icon_btn2{
    display:none;
}

    .lunaar{
width:40px;
height:40px;        
    }

.Navbar_wrapper{
    position: fixed;
    background: #fff;
    min-height: 13vh;
}

.Navbar_links_section{
    display: none;
}

.Setting_btn{
    display: flex;
}

.User_details{
    justify-content: flex-start;
    margin-left: 10px;
}

.User_settings{
    margin-right: 0px;
}

.Logout_btn{
    display: none;
}


.Side_bar_full_screen{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fcf7f7;
    z-index: 10000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position:fixed;
}

.Side_bar_head{
    min-width: 100%;
    min-height: auto;
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Side_bar_head h3{
    margin-left: 10px;
}

.Side_bar_head button{
    margin-right: 10px;
    background: transparent;
    font-family: "Inter",sans-serif;
    border: none;
    cursor: pointer;
}

.Side_bar_main_content{
    min-width: 100%;
    min-height:90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.button_wrapper{
    min-width: 100%;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.upgrade_btn{
    font-family: "Inter",sans-serif;
    width: 90%;
    min-height: 45px;
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #000;
    border: none;
    border-radius: 12px;
    font-weight: 450;
    cursor: pointer;
}

.pricing_btn{
    font-family: "Inter",sans-serif;
    width: 90%;
    min-height: 45px;
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background: #ffffff;
    border: none;
    border-radius: 12px;
    font-weight: 450;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
}

.User_details_side_bar{
    min-width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 26px;
}

.user_detail_row{
    min-width: 90%;
    min-height: 30px;
    display: flex;
    align-items: center;
   justify-content: space-between;
}

.user_detail_row span{
    margin-left: 30px;
    font-size: 16px;
    font-weight: 420;
    color: #5c5959;
}

.user_detail_row h4{
    margin-right: 10px;
    font-weight: 400;
    color: #000;
}

.user_detail_row button{

    display:flex;
    min-width:40px;
    min-height:40px;
    border-radius:50%;
    border:1px solid #ddd;
    background:#fff;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}
    .Navbar_details_section img{
        display:flex;

    }
.links{
    display:none;
}

.Support_btn{

min-width: 100px;
min-height: 40px;
background: #111111;
color:#fff;
border:none;
 box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
font-family: "Inter",sans-serif;
border-radius: 12px;
gap:15px;
font-weight: 500;
cursor: pointer;
margin-right: 0px;
display:flex;
align-items: center;
justify-content:center;

}

.Navbar_wrapper{

 display: flex;
 flex-direction: column;
 min-width: 100%;
 min-height: 11vh;
 max-height: 16vh;
background: #faf6f6;
 align-items: center;
 justify-content: center;
 gap: 20px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 gap: 20px;

}


}

    @media(max-width:568px){

.Navbar_wrapper{
    position: fixed;
    background: #fff;
    min-height: 13vh;
    border-bottom: none;
}

.Navbar_links_section{
    display: none;
}

.Setting_btn{
    display: flex;
}

.User_details{
    justify-content: flex-start;
    margin-left: 10px;
}

        .User_details span{
display:none;
        }

.User_settings{
    margin-right: 0px;
}

.Logout_btn{
    display: none;
}


.Side_bar_full_screen{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    z-index: 10000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position:fixed;
}

.Side_bar_head{
    min-width: 100%;
    min-height: auto;
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Side_bar_head h3{
    margin-left: 10px;
}

.Side_bar_head button{
    margin-right: 10px;
    background: transparent;
    font-family: "Inter",sans-serif;
    border: none;
    cursor: pointer;
}

.Side_bar_main_content{
    min-width: 100%;
    min-height:90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.button_wrapper{
    min-width: 100%;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.upgrade_btn{
    font-family: "Inter",sans-serif;
    width: 90%;
    min-height: 45px;
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #000;
    border: none;
    border-radius: 12px;
    font-weight: 450;
    cursor: pointer;
}

.pricing_btn{
    font-family: "Inter",sans-serif;
    width: 90%;
    min-height: 45px;
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background: #ffffff;
    border: none;
    border-radius: 12px;
    font-weight: 450;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
}

.User_details_side_bar{
    min-width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 26px;
}

.user_detail_row{
    min-width: 90%;
    min-height: 30px;
    display: flex;
    align-items: center;
   justify-content: space-between;
}

.user_detail_row span{
    margin-left: 30px;
    font-size: 16px;
    font-weight: 420;
    color: #5c5959;
}

.user_detail_row h4{
    margin-right: 10px;
    font-weight: 400;
    color: #000;
}

.user_detail_row button{

    display:flex;
    min-width:40px;
    min-height:40px;
    border-radius:50%;
    border:1px solid #ddd;
    background:#fff;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}
    .Navbar_details_section img{
        display:flex;
    }
.links{
    display:none;
}

.Support_btn{

min-width: 100px;
min-height: 40px;
background: #111111;
color:#fff;
border:none;
 box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
font-family: "Inter",sans-serif;
border-radius: 12px;
gap:15px;
font-weight: 500;
cursor: pointer;
margin-right: 0px;
display:none;
align-items: center;
justify-content:center;

}

.Navbar_wrapper{

 display: flex;
 flex-direction: column;
 min-width: 100%;
 min-height: 11vh;
 box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
 max-height: 16vh;
 background: #f6f6f6;
 align-items: center;
 justify-content: center;
 gap: 20px;

}

        .lunaar{
 width:22px;
 height:22px;

        }

}   
