
body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.Navbar_wrapper{

 display: flex;
 flex-direction: column;
 min-width: 100%;
 min-height: 15vh;
 box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
 max-height: 18vh;
 background: #fff;
 align-items: center;
 justify-content: center;
 gap: 20px;

}

.Navbar_details_section{

 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 min-width: 100%;
 max-height: 45%;

}

.User_details{

 min-width: 46%;
 min-height: 100%;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 margin-left: 40px;
 gap: 10px;

}

.User_details img{

min-width:35px;
min-height: 35px;
border-radius: 50%;
border: 1px solid #ddd;

}

.User_settings{

    flex: 1;
 min-height: 100%;
 display: flex;
 align-items: center;
 justify-content: flex-end;
 gap: 12px;
 padding-right: .6em;


}

.Support_btn{

min-width: 100px;
min-height: 40px;
background: #fff;
border: 1px solid #ddd;
font-family: "Inter",sans-serif;
border-radius: 12px;
gap:15px;
font-weight: 500;
cursor: pointer;

}

.Logout_btn{

 display: flex;
 min-width: 40px;
 min-height: 40px;
 border: 1px solid #ddd;
 border-radius: 50%;
 align-items: center;
 justify-content: center;
 background: #fff;
 cursor: pointer;

}

.Setting_btn{

 display: none;
 min-width: 40px;
 min-height: 40px;
 border-radius: 50%;
 align-items: center;
 justify-content: center;
 background: #fff;
 cursor: pointer;
 border: none;

}

.Setting_btn img{

min-width:40px;
min-height: 40px;
border-radius: 50%;
border: 1px solid #ddd;

}

.Navbar_links_section{

 display: flex;
 min-width: 100%;
 max-height: 48%;
 align-items: center;
 justify-content: flex-start;
 min-height: 40%;
 margin-top: -8px;

}

.Navbar_links_section ul{
    display: flex;
    flex-direction: row;  /* This makes li items align horizontally */
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 0;  /* Remove default ul padding */
    margin: 0;   /* Remove default ul margin */
    margin-left: 40px;
    align-items: flex-start;
    justify-content: flex-start;
}
.Navbar_details_section ul li{
    gap: 25px;
    list-style: none;
    display: flex;
}

.Navbar_details_section ul,li,a{
    text-decoration: none;
    color: #5c5959;
    display: flex;
    font-size: 14px;
    font-weight: 400;
}

.Navbar_details_section ul,li,a:hover{

color: black;

}

.Side_bar_full_screen{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fcf7f7;
    z-index: 10000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position:fixed;
}

.Side_bar_head{
    min-width: 100%;
    min-height: auto;
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Side_bar_head h3{
    margin-left: 10px;
}

.Side_bar_head button{
    margin-right: 10px;
    background: transparent;
    font-family: "Inter",sans-serif;
    border: none;
    cursor: pointer;
}

.Side_bar_main_content{
    min-width: 100%;
    min-height:90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.button_wrapper{
    min-width: 100%;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.upgrade_btn{
    font-family: "Inter",sans-serif;
    width: 90%;
    min-height: 45px;
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #000;
    border: none;
    border-radius: 12px;
    font-weight: 450;
    cursor: pointer;
}

.pricing_btn{
    font-family: "Inter",sans-serif;
    width: 90%;
    min-height: 45px;
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background: #ffffff;
    border: none;
    border-radius: 12px;
    font-weight: 450;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
}

.User_details_side_bar{
    min-width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 26px;
}

.user_detail_row{
    min-width: 90%;
    min-height: 30px;
    display: flex;
    align-items: center;
   justify-content: space-between;
}

.user_detail_row span{
    margin-left: 30px;
    font-size: 16px;
    font-weight: 420;
    color: #5c5959;
}

.user_detail_row h4{
    margin-right: 10px;
    font-weight: 400;
    color: #000;
}

.user_detail_row button{

    display:flex;
    min-width:40px;
    min-height:40px;
    border-radius:50%;
    border:1px solid #ddd;
    background:#fff;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

@media(max-width:768px){

.Navbar_wrapper{
    position: fixed;
    background: #fff;
    min-height: 10vh;
}

.Navbar_links_section{
    display: none;
}

.Setting_btn{
    display: flex;
}

.User_details{
    justify-content: flex-start;
    margin-left: 2px;
}

.User_settings{
    margin-right: 10px;
}

}